<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="'IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/general.css">     
    <script src="/javascript/app.js" defer> </script>
    <script src="/javascript/connectionjs" defer></script>

    <title>connexion</title>
</head>
<body>
   
    <%- include('partials/header') %>

    
  <main>
   
    <h2 style="text-align: center;">Se connecter</h2>
<form action="/login" method="POST">
  <input type="text" name="name" placeholder="Nom" required />
  <input type="password" name="password" placeholder="Mot de passe" required />
  <button type="submit">Se connecter</button>
</form>

<form action="/register" method="POST">
  <input type="text" name="name" placeholder="Nom" required />
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Mot de passe" required />
  <button type="submit">Créer un compte</button>
</form>

    
      

    
    </main>
        <%- include('partials/footer') %>

</body>
</html>