<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="'IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general.css">
    <link href="styles/cournot.css" rel="stylesheet">
    <script src="javascript/app.js" defer> </script>
    <script src="javascript/cournot.js" defer> </script>


    <title>cournot</title>
</head>
<body>
  <%- include('partials/header') %>

      <aside id="scenario">
        <img src="images/coffeewars.webp">
        <p>Bienvenue dans l’affrontement des arômes ! Le propriétaire d’Aida Café et celui de Thalia Café étaient autrefois mariés. Ils ont eu une dispute sur les subtilités de la préparation du café et sont devenus rivaux. Cependant, le marché du café est très compétitif. Aida Café vous a proposé (à Thalia Café) de former un cartel. Allez-vous lui faire confiance ou la concurrence primera-t-elle sur tout le reste ?</p>
        <button id="play">Jouer!</button>
    </aside>
  <main>
    
    <section id="hero">
      <h1>L'Affrontement des Aromes</h1>
      <a href="/cournotInfo"> <button class="btn">En savoir plus</button></a>
    </section>
    <section id="question">
    <p>prix du marché = 50-2(q1+q2)</p>
    <p>cout = 10+2q <sub>i</sub></p>
    </section>
    <section id="jeux">
      <section id="game-board">
        <li id="empty"></li>
        <div>  <li>Cartel</li>
          <input type="number" id="cartel-price-adv" class="price-button" placeholder="p" />
        </div><div>
          <li>Trahir</li>
          <input type="number" class="price-button" id="trahir-price-adv" placeholder="p"></input></div>
   <div>   <li>  <button id="cartel">Cartel</button></li> 
    <li> <input type="number" class="price-button" id="cartel-price" placeholder="p"></input></li></div>

<li><input type="text" id="btn1" class="game-btn" placeholder="..." /></li>
<li><input type="text" id="btn2" class="game-btn" placeholder="..." /></li>

 
     <div> <li>  <button id="trahir">Trahir</button></li> 
      
     <li> <input type="number" class="price-button" id="trahir-price" placeholder="p"></input></li></div>
    </div> 

     <li><input type="text" id="btn3" class="game-btn" placeholder="..." /></li>
     <li><input type="text" id="btn4" class="game-btn" placeholder="..." /></li>

      </section>
      <div>
     
      <div id="tips">
<div id="tip-content">
  <button id="tip-close">x</button>
        <div id="tip-one">
          <p>Chaque entreprise maximise son propre profit en tenant compte de la quantité de production de son concurrent.</p>
          <p>
            &Pi;<sub>1</sub>(q<sub>1</sub>, q<sub>2</sub>) = P(q<sub>1</sub> + q<sub>2</sub>) &middot; q<sub>1</sub> - C<sub>1</sub>(q<sub>1</sub>)
        </p>
        <button id="btn-tip-one">→</button>
        </div>
        <div id="tip-two">
          <p>L'optimisation de profit:       </p>
          <p>
            ∂Π<sub>1</sub>(q<sub>1</sub>, q<sub>2</sub>) / ∂q<sub>1</sub> = P(q<sub>1</sub> + q<sub>2</sub>) + 
            q<sub>1</sub> · P′(q<sub>1</sub> + q<sub>2</sub>) - ∂C<sub>1</sub>(q<sub>1</sub>) / ∂q<sub>1</sub> = 0
        </p>
        <button id="btn-tip-two">result</button>

        </div>
      </div></div>
      <section id=tipandimage><img src="images/coffeeman.png" id="coffeeman">
        <em>Clique sur l'homme pour les tips :) </em></section>
    </div>
    </section>
  </main>
  <div id="overlay-bravo">
    <div id="overlay-content">
        <h2>Vous avez gagné en choisissant la bonne option selon l'équilibre de Nash!</h2>
        <button><a href="/TheoriesDeJeux">Théories de jeux</a></button>
        <button id="open-surplus">aller plus loin</button>
    </div>
</div>

<div id="overlay-tryagain">
    <div id="overlay-content">
        <h2>Vous n'avez pas choisi l'option correcte selon l'équilibre de Nash. Veuillez réessayer.</h2>
        <button onclick="closeOverlay('overlay-tryagain')">
          ↻</button>
    </div>
</div>
<div id="overlay-missing">
  <div id="overlay-content">
      <h2>Veuillez saisir tous les prix et profits possibles sans omission et correctement. Pour cela, il vous suffit de cliquer dessus.</h2>
      <button onclick="closeOverlay('overlay-missing')">
        ↻</button>
  </div>
</div>
<section id="surplus-sec">
  <div id="button-board">
    <h2 style="text-align: center;">Veuillez saisir les valeurs appropriées de surplus du consommateur pour chaque situation.</h2>

<div id="surplus">
  <li></li>
  <div>  <li>Cartel</li>
    <span>6</span>
  </div><div>
    <li>Trahir</li>
    <li>9</li></div>
<div>   <li>  Cartel</li> 
 <li>6</li></div> 
 <li><input type="text" id="surplus-btn1" class="surplus-btn"  /></li>
 <li><input type="text" id="surplus-btn2" class="surplus-btn"  /></li>
<div> <li>  Trahir</li> 
  <span>9</span>
</div> 

<li><input type="text" id="surplus-btn3" class="surplus-btn"  /></li>
<li><input type="text" id="surplus-btn4" class="surplus-btn"  /></li>
</div>
<button id="submit-surplus">Submit</button></div>
<div>

  <div id="tips-sur">
<div id="tip-content-sur">
<button id="tip-close-sur">x</button>
    <div id="tip-one-sur">
      <p>Surplus de Consommateur</p>
      <p>
        (Prix<sub>max</sub>-Prix<sub>marché</sub>) x Q/2

    </p>
    </div>
  </div></div><section id=tipandimage-sur><img src="images/coffeeman.png" id="coffeeman-sur">
    <em>Clique sur l'homme pour les tips :) </em></section></div></section>
    <div id="surplus-bravo">
      <div id="surplus-content">
          <h2>Vous avez saisi correctement toutes les valeurs de surplus!</h2>
          <button><a href="/TheoriesDeJeux">Théories de jeux</a></button>
      </div></div>
      <div id="surplus-missing">
        <div id="surplus-content">
            <h2>Vous avez saisi des valeurs de surplus incomplètes ou incorrectes.</h2>
            <button onclick="closeOverlay('surplus-missing')">
              ↻</button>
        </div>
      </div></div>
    <%- include('partials/footer') %>
</body>
</html>