<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="'IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/crises.css">
     
    <script src="javascript/app.js" defer> </script>
    <script src="javascript/crises.js" defer></script>

    <title>bertrand</title>
</head>
<body>
   
  <%- include('partials/header') %>

    
  <main>
      
    <section id="covid">
        <aside class="titles">
          <div class="titles-content">
          <ul>
          <a href="/QuatreCrisesJeux"><li><button style="background-color: rgb(18, 108, 108);">Grande Depression</button></li></a>
          <a href="/choc-petrolier"><li><button style="background-color: rgb(18, 108, 108);">Choc Petrolier</button></li></a>
          <a href="/crise-immobilier"><li><button style="background-color: rgb(18, 108, 108);">Crise Immobilier</button></li></a>
          <li><button onclick="closeOverlay('titles')" id="covid-btn" style="background-color: rgb(18, 108, 108);">Crise Sanitaire</button></li>
        </ul></div>
         </aside>
         <section id="hero">
        <h1>Quatre Crises</h1>
        <a href="/criseSannitaireInfo"> <button class="btn">En savoir plus</button></a>
      </section>
      <p class="description">Le joueur est plongé au cœur de la crise du COVID-19 en 2020, une période de bouleversements sans précédent pour le monde entier. Les hôpitaux sont submergés, les économies vacillent, et les gouvernements doivent prendre des décisions difficiles pour protéger leurs citoyens. En tant qu’acteur clé de cette situation, le joueur devra naviguer à travers les défis médicaux, économiques et sociaux, tout en tentant de minimiser les pertes humaines et économiques.
      </p>
      <ul id="avatars">
      <a href="/hopital"><li>
        <p>Propriétaire d'Hôpital</p>
        <img src="images/proprietaire d'hopital.png">
       </li></a>
      <a href="/citoyen"> <li>
         <p>Citoyen Ordinaire</p>
         <img src="images/person.png">
       </li></a></ul></section>
</main>
</body>
</html>