<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="'IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/crises.css">
     
    <script src="javascript/app.js" defer> </script>
    <script src="javascript/crises.js" defer></script>

    <title>quatre crises</title>
</head>
<body>
   
  <%- include('partials/header') %>

    
  <main>
    <section id="crise-immobilier">
      <aside class="titles">
        <div class="titles-content">
        <ul>
        <a href="/QuatreCrisesJeux"><button style="background-color: rgb(18, 108, 108);">Grande Dépression</button></li></a>
        <a href="/choc-petrolier"><li><button style="background-color: rgb(18, 108, 108);">Choc Pétrolier</button></li></a>
        <li><button onclick="closeOverlay('titles')" id="crise-immobilier-btn" style="background-color: rgb(18, 108, 108);">Crise Immobilière
</button></li>
        <li><button>Crise Sanitaire</button></li>
      </ul></div>
       </aside>
       <section id="hero">
      <h1>Quatre Crises</h1>
      <a href="/criseSubprimeInfo"> <button class="btn">En savoir plus</button></a>
    </section>
    <p class="description">Le joueur est plongé dans les années précédant la crise des subprimes de 2008, une période marquée par une frénésie immobilière et un accès au crédit facile. Les institutions financières, les agents immobiliers, et les consommateurs sont tous emportés dans la spirale de l’endettement et de la spéculation. En tant que personnage clé de ce système, le joueur doit naviguer à travers ces eaux troubles, faire des choix qui détermineront son succès ou sa faillite, et tenter d'éviter, ou d'exploiter, la catastrophe imminente.
    </p>
    <ul id="avatars">
   <a href="/hypocritaire"> <li>
      <p>Prêteur Hypothécaire</p>
      <img src="images/pre.png">
     </li></a><a href="/immobilier">
     <li >
       <p>Agent Immobilier</p>
       <img src="images/agent.png">
     </li></a></ul></section>
</main>
    <%- include('partials/footer') %>

</body>
</html>