<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general.css">
    <link href="styles/savoir.css" rel="stylesheet">
    <script src="javascript/app.js" defer> </script>
    <title>Savoir Economique</title>
</head>
<body>
    <%- include('partials/header') %>

    <main>
<section id="text">
    <h1>Equilibre de Nash</h1>
    <p>
        L'équilibre de Nash, introduit par le mathématicien John Nash en 1950, est un concept central en théorie des jeux. Il décrit une situation où, dans un jeu impliquant plusieurs joueurs, aucun joueur ne peut améliorer son gain en modifiant unilatéralement sa stratégie, à condition que les autres joueurs maintiennent leurs leurs inchangées.
    </p>

    <h3>Équilibre de Nash en stratégies pures :</h3>
    <p>
        Dans ce cas, chaque joueur adopte une stratégie déterminée sans recours au hasard. Un équilibre de Nash en stratégies pures se produit lorsque chaque joueur choisit une action spécifique, et qu'aucun ne peut augmenter son gain en changeant seul d'action, les choix des autres restant constants.
    </p>

    <p><em>Exemple :</em> Considérons le dilemme du prisonnier :</p>
    <table class="matrix">
        <tr>
            <th></th>
            <th>Complice B se tait</th>
            <th>Complice B trahit</th>
        </tr>
        <tr>
            <th>Complice A se tait</th>
            <td>-1, -1</td>
            <td>-3, 0</td>
        </tr>
        <tr>
            <th>Complice A trahit</th>
            <td>0, -3</td>
            <td>-2, -2</td>
        </tr>
    </table>

    <h3>Équilibre de Nash en stratégies mixtes :</h3>
    <p>
        Lorsqu'un équilibre en stratégies pures n'existe pas ou que les joueurs préfèrent introduire de l'incertitude, ils peuvent adopter des stratégies mixtes.
    </p>

    <p><em>Exemple :</em> Prenons le jeu "Pierre-Feuille-Ciseaux" :</p>
    <p>
        Aucun équilibre en stratégies pures n'existe, car chaque action est battue par une autre. Cependant, il existe un équilibre en stratégies mixtes où chaque joueur choisit aléatoirement entre "Pierre", "Feuille" et "Ciseaux" avec une probabilité de 1/3 pour chacune.
    </p>

    <p>
        Il est important de noter que tout jeu avec un nombre fini de joueurs et de stratégies possède au moins un équilibre de Nash en stratégies mixtes.
    </p>    
</section>
</main>

    <%- include('partials/footer') %>

</body>
</html>