<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="'IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/crises.css">
     
    <script src="/javascript/app.js" defer> </script>
    <script src="/javascript/crises.js" defer></script>

    <title>quatre crises</title>
</head>
<body>
  <%- include('partials/header') %>

  <main>
    <section id="grande-depression">

    
      <aside class="titles">
        <div class="titles-content">
        <ul>
        <li><button onclick="closeOverlay('titles')" id="grande-depression-btn" style="background-color: rgb(18, 108, 108); ">Grande Dépression</button></li>
        <li><button>Choc Pétrolier</button></li>
        <li><button>Crise Immobilière
</button></li>
        <li><button>Crise Sanitaire</button></li>
      </ul></div>
       </aside>
       <section id="hero">
      <h1>Quatre Crises</h1>
      <a href="/laGrandeDepressionInfo"> <button class="btn">En savoir plus</button></a>
    </section>
    <p class="description">Le joueur incarne un personnage dans l’Amérique des années 1920, où la prospérité économique règne en maître. Les choix qu'il fait influenceront son destin personnel, mais aussi celui de l’économie globale. 
    </p>
    <ul id="avatars">
    <a href="/invest"><li>
     <p>Investisseur Audacieux</p>
     <img src="images/Investisseur.png"></li>
    </a>
    <a href="/politicien"><li>
      <p>Politicien Influant</p>
      <img src="images/Politicien.png"></li></a>
    
    <a href="/ouvrier"><li>
      <p>Ouvrier Américain</p>
      <img src="images/Ouvrier.png"></li></a>
    </li></ul>
</section>
</main>
    <%- include('partials/footer') %>

</body>
</html>