<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general.css">
    <link href="styles/savoir.css" rel="stylesheet">
    <script src="javascript/app.js" defer> </script>
    <title>Savoir Economique</title>
</head>
<body>
    <%- include('partials/header') %>

    <main>
<section id="text">
    <h1>Duopole de Stackelberg</h1>
    <p>Dans un monopole, par définition, il ne peut y avoir de relation entre les firmes, puisqu'il n'y en a qu'une. En concurrence pure et parfaite et en concurrence monopolistique, le nombre d'entreprises fait qu'une firme n'a pas (ou très peu) d'influence sur les autres. La réalité des affaires montre que dans la plupart des secteurs industriels ou de services, les entreprises s'opposent vivement entre elles et mettent en oeuvre des stratégies complexes d'affrontement, d'entente ou de collusion.</p>
    <h2>Définitions et hypothèses</h2>
    <p>L'oligopole est un marché sur lequel s'affronte un petit nombre de producteurs. Ainsi, une firme est souvent capable de connaître tous ses concurrents et peut donc tenir compte de leurs stratégies dans ses propres décisions: on dit qu'il y a interdépendance conjecturale. Il s'agit d'une interdépendance fondée sur des vraisemblances. Une telle structure de marché s'explique par l'existence de barrières à l'entrée (différenciation, économies d'échelle, réglementations, avantage absolu de coûts... etc.).
        Afin de simplifier une réalité très complexe, considérons que l'oligopole ne comporte que deux firmes (A et B) ; cette situation prend le nom de duopole.
        Nous supposerons que les firmes produisent un bien homogène, afin d'éviter les problèmes liés à la différenciation. On distingue deux types principaux de comportement : l'affrontement et l'entente. Dans le premier cas, les équilibres seront appelés équilibres non coopératifs. Plusieurs modèles très célèbres s'y intéressent ; il s'agit des modèles de Cournot, de Stackelberg et de Bertrand (ce dernier ne sera pas abordé). Dans le second cas, les équilibres seront dits coopératifs. Le modèle du cartel en fournit une parfaite illustration.</p>
    <h2>Le modèle de Stackelberg</h2>
    <p>Si nous supposons maintenant que A joue en premier, B observe et joue ensuite. Les actions ne sont plus simultanées mais séquentielles. La représentation usuelle d'un jeu séquentiel s'effectue en utilisant une représentation* arborescente : c'est la forme extensive. Chaque noeud de l'arbre indique l'intervention d'un joueur, chaque branche correspond aux actions possibles et les noeuds terminaux indiquent les paiements des joueurs.</p>
    <p>B sera appelée follower (ou suiveur) et l'autre leader (ou meneur).
        Le leader fixera une quantité à produire qui maximise son profit, en prenant en considération la quantité qu'il escompte que le follower fixera en réaction à son propre choix. Autrement dit, la firme A s'efforce d'anticiper les réactions que ses propres décisions auront sur les choix de la firme B. Ce modèle suppose donc que le leader connaisse la fonction de réaction du follower.</p>
    <p>Pour que ce modèle fonctionne, encore faut-il qu'une des deux firmes ait réussi à décrypter le comportement de l'autre, de manière à l'intégrer dans sa stratégie. L'existence de l'équilibre est aussi remise en question si les deux firmes tentent d'agir en leader (modèle de Bowley).</p>
    <h2>Sources:</h2>
  <ul>
    Microéconomie, 2ᵉ édition :
    <li>Aprahamian, F., Bertrand, A., Besancenot, D., Ferrari, J.-B., & Huynh, K. . Microéconomie : Cours, Méthodes, Exercices corrigés. Collection Grand Amphi Économie, dirigée par Marc Montoussé. Éditions Bréal.</li>
    Microéconomie, 5ᵉ édition :
    <li>Médan, P. . Microéconomie : QCM et exercices corrigés, 9 sujets d'examen corrigés, avec rappels de cours. 5ᵉ édition. Éditions Dunod.</li>
  </ul>
</section>
</main>

<footer>

    </footer>
</body>
</html>