<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="'IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general.css">
    <link href="styles/stackelberg.css" rel="stylesheet">
    <script src="javascript/app.js" defer> </script>
    <script src="javascript/stackelberg.js" defer> </script>


    <title>stackelberg</title>
</head>
<body>
  <%- include('partials/header') %>

      <aside id="scenario">
        <img src="images/choco.png">
        <p>Deux entreprises de chocolat, ChocoLeader (le leader) et ChocoFollower (le follower), rivalisent pour maximiser leurs profits sur le marché des tablettes de chocolat. ChocoLeader prend sa décision en premier, tandis que ChocoFollower réagit en fonction de cette décision pour maximiser ses propres profits.
          L’objectif est de simuler un équilibre de Stackelberg, où le leader anticipe correctement la réaction optimale du follower.Quelle entreprise aimeriez-vous être ?</p>
          <div><button id="leader">ChocoLeader</button>
          <button id="follower">ChocoFollower</button>  </div> 
          <button><a href="/stackelberg-cc">version controle continue</a></button>
         </aside>
  <main>
    
    <section id="hero">
      <h1>Bataille de chocolatier</h1>
      <a href="/stackelbergInfo"> <button class="btn">En savoir plus</button></a>
    </section>
    <section id="question">
    <p>Prix de marché= 1-0.001 x quantité</p>
    <p>coût unitaire = 0,28 euros</p>
    </section>

     
               <section id="main-game">
                <section id="partie-one">
           <div class="tree">
            <!-- Root Node -->
            <div class="node root standart"> ChocoLeader</div>
            <div class="node root media" > Leader</div>
            <div class="branches">
              <!-- First Branch -->
              <div class="branch">
                <div class="label">180</div>
                <div class="node standart">ChocoFollower</div>
                <div class="node media" >Follower</div>

                <div class="sub-branches">
                  <div class="branch">
                    <div class="label">180</div>
                   
                    <div class="dropdown">
        
                      <button class=" dropdown-btn standart">(...,...)</button>
                      <button class=" dropdown-btn media">(🔽)</button>

                          <div class="dropdown-content">
                              <button class="correct">64.8,64.8</button>
                                <button class="dropdown-item">54,72</button>
                                  <button class="dropdown-item">32.4,64.8</button>
                                    <button class="dropdown-item">72,54</button>
                                    <button class="dropdown-item">57.6,57.6</button>
                                <button class="dropdown-item">28.8,43.2</button>
                                  <button class="dropdown-item">64.8,32.4</button>
                                    <button class="dropdown-item">43.2,28.8</button>
                                    <button class="dropdown-item">0,0</button>
                          </div>
                      </div>
                  </div>
                  <div class="branch">
                    <div class="label">240</div>
                    
                    <div class="dropdown">
                 
                      <button class=" dropdown-btn standart">(...,...)</button>
                      <button class=" dropdown-btn media">(🔽)</button>
      
                          <div class="dropdown-content">
                            <button class="dropdown-item">64.8,64.8</button>
                            <button class="correct">54,72</button>
                              <button class="dropdown-item">32.4,64.8</button>
                                <button class="dropdown-item">72,54</button>
                                <button class="dropdown-item">57.6,57.6</button>
                            <button class="dropdown-item">28.8,43.2</button>
                              <button class="dropdown-item">64.8,32.4</button>
                                <button class="dropdown-item">43.2,28.8</button>
                                <button class="dropdown-item">0,0</button>
                          </div>
                      </div>
                  </div>
                  <div class="branch">
                    <div class="label">360</div>
                    
                    <div class="dropdown">
                 
                      <button class=" dropdown-btn standart">(...,...)</button>
                      <button class=" dropdown-btn media">(🔽)</button>
      
                          <div class="dropdown-content">
                            <button class="dropdown-item">64.8,64.8</button>
                            <button class="dropdown-item">54,72</button>
                              <button class="correct">32.4,64.8</button>
                                <button class="dropdown-item">72,54</button>
                                <button class="dropdown-item">57.6,57.6</button>
                            <button class="dropdown-item">28.8,43.2</button>
                              <button class="dropdown-item">64.8,32.4</button>
                                <button class="dropdown-item">43.2,28.8</button>
                                <button class="dropdown-item">0,0</button>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
        
              <!-- Second (Central) Branch -->
              <div class="branch">
                <div class="label">240</div>
                <div class="node standart">ChocoFollower</div>
                <div class="node media" >Follower</div>

                <div class="sub-branches">
                    <div class="branch">
                      <div class="label">180</div>
                     
                      <div class="dropdown">
                 
                        
                        <button class=" dropdown-btn standart">(...,...)</button>
                        <button class=" dropdown-btn media">(🔽)</button>
      
                          <div class="dropdown-content">
                            <button class="dropdown-item">64.8,64.8</button>
                            <button class="dropdown-item">54,72</button>
                              <button class="dropdown-item">32.4,64.8</button>
                                <button class="correct">72,54</button>
                                <button class="dropdown-item">57.6,57.6</button>
                            <button class="dropdown-item">28.8,43.2</button>
                              <button class="dropdown-item">64.8,32.4</button>
                                <button class="dropdown-item">43.2,28.8</button>
                                <button class="dropdown-item">0,0</button>
                          </div>
                      </div>
                    </div>
                    <div class="branch">
                      <div class="label">240</div>
                      
                      <div class="dropdown">
                 
                        <button class=" dropdown-btn standart">(...,...)</button>
                        <button class=" dropdown-btn media">(🔽)</button>
      
                          <div class="dropdown-content">
                            <button class="dropdown-item">64.8,64.8</button>
                            <button class="dropdown-item">54,72</button>
                              <button class="dropdown-item">32.4,64.8</button>
                                <button class="dropdown-item">72,54</button>
                                <button class="correct">57.6,57.6</button>
                            <button class="dropdown-item">28.8,43.2</button>
                              <button class="dropdown-item">64.8,32.4</button>
                                <button class="dropdown-item">43.2,28.8</button>
                                <button class="dropdown-item">0,0</button>
                          </div>
                      </div>
                    </div>
                    <div class="branch">
                      <div class="label">360</div>
                      
                      <div class="dropdown">
                 
                        <button class=" dropdown-btn standart">(...,...)</button>
                        <button class=" dropdown-btn media">(🔽)</button>
      
                          <div class="dropdown-content">
                            <button class="dropdown-item">64.8,64.8</button>
                            <button class="dropdown-item">54,72</button>
                              <button class="dropdown-item">32.4,64.8</button>
                                <button class="dropdown-item">72,54</button>
                                <button class="dropdown-item">57.6,57.6</button>
                            <button class="correct">28.8,43.2</button>
                              <button class="dropdown-item">64.8,32.4</button>
                                <button class="dropdown-item">43.2,28.8</button>
                                <button class="dropdown-item">0,0</button>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
        
              <!-- Third Branch -->
              <div class="branch">
                <div class="label">360</div>
                <div class="node standart"> ChocoFollower</div>
                <div class="node media" >Follower</div>

                <div class="sub-branches">
                    <div class="branch">
                      <div class="label">180</div>
                     
                      <div class="dropdown">
                 
                        <button class=" dropdown-btn standart">(...,...)</button>
                        <button class=" dropdown-btn media">(🔽)</button>
      
                          <div class="dropdown-content">
                            <button class="dropdown-item">64.8,64.8</button>
                            <button class="dropdown-item">54,72</button>
                              <button class="dropdown-item">32.4,64.8</button>
                                <button class="dropdown-item">72,54</button>
                                <button class="dropdown-item">57.6,57.6</button>
                            <button class="dropdown-item">28.8,43.2</button>
                              <button class="correct">64.8,32.4</button>
                                <button class="dropdown-item">43.2,28.8</button>
                                <button class="dropdown-item">0,0</button>
                          </div>
                      </div>
                    </div>
                    <div class="branch">
                      <div class="label">240</div>
                      
                      <div class="dropdown">
                 
                        <button class=" dropdown-btn standart">(...,...)</button>
                        <button class=" dropdown-btn media">(🔽)</button>
      
                          <div class="dropdown-content">
                            <button class="dropdown-item">64.8,64.8</button>
                            <button class="dropdown-item">54,72</button>
                              <button class="dropdown-item">32.4,64.8</button>
                                <button class="dropdown-item">72,54</button>
                                <button class="dropdown-item">57.6,57.6</button>
                            <button class="dropdown-item">28.8,43.2</button>
                              <button class="dropdown-item">64.8,32.4</button>
                                <button class="correct">43.2,28.8</button>
                                <button class="dropdown-item">0,0</button>
                          </div>
                      </div>
                    </div>
                    <div class="branch">
                      <div class="label">360</div>
                     
                      <div class="dropdown">
                 
                        <button class=" dropdown-btn standart">(...,...)</button>
                        <button class=" dropdown-btn media">(🔽)</button>
      
                          <div class="dropdown-content">
                            <button class="dropdown-item">64.8,64.8</button>
                            <button class="dropdown-item">54,72</button>
                              <button class="dropdown-item">32.4,64.8</button>
                                <button class="dropdown-item">72,54</button>
                                <button class="dropdown-item">57.6,57.6</button>
                            <button class="dropdown-item">28.8,43.2</button>
                              <button class="dropdown-item">64.8,32.4</button>
                                <button class="dropdown-item">43.2,28.8</button>
                                <button class="correct">0,0</button>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            
          </div>
          <section id="decision-section">
          <p class='decisionQ' id="leaderSentence">Vous êtes ChocoLeader. ChocoFollower va réagir à votre décision.</p>
          <p class='decisionQ' id="followerSentence"></p>
          <div id="decision">
            
            <p>Choisissez la quantité de chocolat que vous voulez produire :</p>
            <button id="180">180</button>
            <button id="240">240</button>
            <button id="360">360</button></div>
          </section>
        </section>
          <section id="avatar-section">
         <div id="avatar-text" >
          <div id="avatar-text-content">
            <button id="close">X</button>
                <div id="first-hint">
                  <p>Chaque entreprise maximise son propre profit en tenant compte de la quantité de production de son concurrent.</p>
                  <p>
                    &#928;<sub>1</sub>(q<sub>1</sub>, q<sub>2</sub>) = P(q<sub>1</sub> + q<sub>2</sub>) &middot; q<sub>1</sub> - C<sub>1</sub>(q<sub>1</sub>)
                </p>
                  <button id="hint">➡</button>
                </div>
                <div id="second-hint">
                 <p>En tant que leader, votre décision influence directement celle du suiveur.
                  Pensez à anticiper la réaction de ChocoFollower en fonction de vos choix. Essayez de maximiser vos profits tout en tenant compte de sa réaction optimale.</p>
                  <p>En tant que suiveur, votre objectif est de maximiser vos profits en répondant stratégiquement à la quantité choisie par le leader.
                    Gardez à l’esprit que vos décisions sont prises après avoir vu celles de ChocoLeader. Adaptez votre stratégie pour en tirer le meilleur parti.</p>
                  <button id="answer">Réponse</button></div>

                </div></div>
                <section id=tipandimage> <img src="images/willy.png" id="avatar">
                  <em>Clique sur l'homme pour les tips :) </em></section>
               </section></section>
          
            <div id="win-overlay" class="overlay">
              <div id="overlay-content">
                <p>
                    Félicitations, vous avez atteint l’équilibre de Stackelberg! <p id="follower-win">Après votre choix, pour profiter
                    le max, ChocoFollower a produit 180 chocolats. </p>Vous avez le plus grand profit possible.
                    
                </p>
                <button id="againplay">↻</button>
                    <button id="other"><a href="/TheoriesDeJeux">↩</a></button>
            </div></div>
            
            <div id="lose-overlay" class="overlay">
              <div id="overlay-content">
            <p>
                Soit ce n’est pas un équilibre optimal soit les profits possibles ne sont pas correctement replacés.
                
            </p>
            <button onclick="closeOverlay('lose-overlay')"> ↻</button>
                  </div></div>
          
    </main> 
<footer></footer>
</body>
</html>