<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/general.css">
    <link href="/styles/savoir.css" rel="stylesheet">
    <script src="/javascript/app.js" defer> </script>   
    <title>Theories des jeux</title>
</head>
<body>
  <%- include('partials/header') %>

        <main>
<h1 id="tdj-title">Théories de Jeux</h1>
<section id="tdj">
    <ul id="simultane">
        <h2 class="main-tdj-titles">Jeux simultanés</h2>
        <div id="simultane-container">
      <li><a href="/royaum">
        <img src="images/royaum.png">
        <h1>Duopole pure/mixte</h1>
        <h2>Bataille des Royaumes</h2></a> </li>
     <li><a href="/cournotJeux">
            <img src="images/coffeewars.webp">
            <h1>Duopole de Cournot</h1>
            <h2>L’Affrontement des arômes</h2></a> </li>  

            <li><a href="/bertrandJeux">
                <img src="images/pepperoni.png">
                <h1>Duopole de Bertrand</h1>
                <h2>Guerre des Pizzas</h2></a> </li> 
                <li><a href="/prisonerJeux">
                    <img src="images/prisoner-main.webp">
                    <h1>Dilemme du prisonnier</h1>
                    </a> </li> </div>
    </ul>
    <ul id="sequentiel">
        <h2  class="main-tdj-titles">Jeux séquentiels</h2>
        <div id="seq-container">

        <li><a href="/stackelbergJeux">
            <img src="images/choco.png">
            <h1>Duopole de Stackelberg</h1>
            <h2>Bataille des Chocolatiers</h2></a> </li> </div>
    </ul>
</section>
</main>


</body>
</html>