#hero{
    background-color: rgb(18, 108, 108);
    color:white;
    justify-items: center;
    display: grid;
    padding-bottom: 1rem;
}

#hero button{
    width:100%;
    margin: 0 15%;
    font-size: 100%;
}
#hero h1{
    font-size: 300%;
    text-align: center;
}
p{
    font-size: 150%;
    width:80%;
    margin: 1rem auto;
}
img{
    width:7rem;
    height:7rem;
}
li{
    list-style: none;
}
.button-container{
    justify-items: center;
    grid-template-columns: 50% 50%;
    margin-top: 5rem;
    
}

.avatar-sec{
    margin-top: 10%;
    display: grid;
    gap:2rem;
}
.titles-content {
    background: white;
    padding: 2rem;
    top:15%;
    height: 17rem;
    width:40rem;
    text-align: center;
    border-radius: 10px;
}

.titles button{
    width:15rem;
    height: 2rem;
    font-size: 150%;
   
}

.titles ul{
    display: grid;
    gap:2rem;
}
.titles, .message {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#avatars{
    display:flex;
    justify-content:space-evenly;
    margin-top: 2rem;
}
#avatars a{
    color: black;
}
#avatars li{
   width:20rem;
   justify-items: center;
   display: grid;
}
#avatars li p{
    text-align: center;
}
#avatars li:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
button a{
    color:white;
}
.message-content{
    background: white;
    padding: 2rem;
    top:15%;
    height: 25%;
    width:60%;
    margin:0 auto;
    text-align: center;
    border-radius: 10px;
}

.choix-btn{
    width:25rem;
    background-color: rgb(18, 108, 108);
    color:white;
    border: 1px solid white;
    font-size: 120%;
    padding-top: 1rem; 
    padding-bottom: 1rem;
    border-radius: 6px;
}
.choix-btn:hover{
    background-color: rgb(35, 151, 151);
}

.message button{
    background-color: rgb(18, 108, 108);
    color:white;
    border: 1px solid white;
    padding: 0.5em 1rem;
    border-radius: 4px;
    cursor: pointer;

}
.message button:hover{
    background-color: rgb(35, 151, 151);

}
button:hover{
    cursor: pointer;
}


.message{
    display: none;
}
.final, .question-two-one, .choix-container-two-one, .question-two-two, .choix-container-two-two{
    display:none;
}
.choix-container-final{
    display:none;
}
.choix-container-one{
display:grid;}
@media (max-width:900px){
    #avatars{
display: grid; 
justify-content: left; 
margin-left: -1rem;
  }
  .button-container{
    grid-template-columns: 100%;
    gap:2rem;
  }
  .button-container button{
    width:100%;
    height:auto;
  }
  .message-content p{
    padding:2%;
}
.message-content{
 
    height: 50%;
    
}

}


