body{
    margin:0;
    z-index: 1;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
}
footer{
    height: 2rem;
}
#main-header{
    height:5rem;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 0 5%;
    background-color: rgb(8, 8, 8, 0.2);
    background-color: rgb(18, 108, 108);
}
#logo{
    font-size: 2rem;
    font-weight: bold;
    color:white;
}
#main-header ul{
    list-style:none ;
    display: flex;
    margin:0;
    padding:0;
    
}
#main-header li{
    margin: 0 1rem ;
    border-right: 2px solid rgb(30, 29, 29);
}
#main-header li:last-child{
    border: none;
}

#main-header nav a{
    color:white;
    font-size:1.75rem;
    padding-right: 2rem;
}
.user-name {
    color: white;
    font-size: 1.75rem;
    padding-right: 2rem;
    font-weight: 500;
    display: inline-block;
    transition: color 0.3s ease;
  }
#utilisateur{
    display: grid;
    width:60%;
    margin:0 auto;
    grid-template-rows: repeat(4, 20%);
    gap:2rem;
}
  .user-name:hover {
    color: #ffd700; 
    cursor: default;
  }
  

#main-header nav a:hover{
    color:antiquewhite
}
.btn{
    background-color:rgb(18, 108, 108);
    border-radius: 4px;
    font-size: 200%;
    color:white;
    padding: 0.5rem 1.5rem;
    display: inline-block;
}
.btn:hover{
    background-color: rgb(111, 169, 150);
}

#side-drawer{
    width:100%;
    height: 100%;
    background-color: rgb(70, 68, 68);
   position: fixed;
   display: none;
    top:0;
    left:0;
    z-index: 2;
}

#side-drawer li{
    margin: 1rem 0;
}
#side-drawer ul{
    list-style: none;
    margin: 0;
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#close-menu-button{
   margin-left:90% ;
   margin-top: 5%;
}
#side-drawer a{
    color: white;
    font-size: 2rem;
}
#menu-btn{
    display: none;
}
/*   */
@media (max-width:1240px){
  
    #menu-btn{
        width:3rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
     }
     #menu-btn span{
         background-color:white;
         width: 100%;
         height: 3px;
     }
    #main-header nav{
        display: none;
    }
}