#hero{
    background-color: rgb(18, 108, 108);
    color:white;
    justify-items: center;
    display: grid;
    padding-bottom: 1rem;
}

#hero button{
    width:100%;
    margin: 0 15%;
    font-size: 100%;
}
#hero h1{
    font-size: 300%;
    text-align: center;
}
p{
    font-size: 150%;
    width:80%;
    margin: 1rem auto;
}
img{
    width:7rem;
    height:7rem;
}
li{
    list-style: none;
}
.button-container{
    justify-items: center;
    grid-template-columns: 50% 50%;
    margin-top: 5rem;
    
}
#avatars{
    display:flex;
    justify-content:space-evenly;
    margin-top: 2rem;
}
#avatars li{
   width:20rem;
   justify-items: center;
}
#avatars li p{
    text-align: center;
}
#avatars li:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.message-content{
    justify-items: center;
}
.choix-btn{
    width:25rem;
    background-color: rgb(18, 108, 108);
    color:white;
    border: 1px solid white;
    font-size: 120%;
    padding-top: 1rem; 
    padding-bottom: 1rem;
    border-radius: 6px;
}
.choix-btn:hover{
    background-color: rgb(35, 151, 151);
}
.message button{
    background-color: rgb(18, 108, 108);
    color:white;
    border: 1px solid white;
    padding: 0.5em 1rem;
    border-radius: 4px;
    cursor: pointer;

}
.message button:hover{
    background-color: rgb(35, 151, 151);

}
button:hover{
    cursor: pointer;
}
#choc-petrolier, #crise-immobilier, #covid{
    display:none;
}

.message{
    display: none;
}
.final, .question-two-one, .choix-container-two-one, .question-two-two, .choix-container-two-two{
    display:none;
}
.choix-container-final{
    display:none;
}
.choix-container-one{
display:grid;}
.avatar-sec {
    display: none; /* Start with the avatar sections hidden */
}


#invest-sec, #poli-sec, #ouvrier-sec {
    display: none;
}

#invest-sec.active, #poli-sec.active, #ouvrier-sec.active {
    display: grid;
}
